.group-container {
  width: 100%;
  &__main {
    width: 80%;
    margin: 0 auto;
  }

  &__list {
    width: 75%;
    margin: 0 auto;
  }

  ::ng-deep {
    .zb-paginator {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
