@import "~@zb/suite-core/styles/zabud-typography";
@import "~@zb/suite-core/styles/zabud-tools";

$border: 1px solid zb-color("gray", "border");

.group-template {
  display: flex;
  justify-content: space-between;

  &__content {
    padding: 0 0 26px 40px;
    width: 60%;
  }

  &__title {
    display: flex;
    @include zb-font-h1;
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__action {
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 36px;
    }
  }

  &__part-day {
    width: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include zb-font-lg;
  }

  &__pensum {
    margin-bottom: 6px;
  }

  &__edit-icon {
    &.active {
      color: zb-color("secondary", "dark");
    }
  }

  &__schedule-label {
    margin-right: 8px;
  }
}

.subject-list {
  transition: max-height 1s;

  &.inactive {
    max-height: 0;
  }

  &.active {
    max-height: 500px;
  }

  table {
    width: 100%;

    thead {
      tr {
        td {
          padding: 16px 0;
          border-top: $border;
          border-bottom: $border;
          &:first-child {
            padding-left: 53px;
          }
          &:last-child {
            padding-right: 53px;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          padding-top: 19px;

          &.subject-list__capacity {
            ::ng-deep {
              .zb-form-field__container {
                width: 35%;
              }
            }
          }

          &.subject-list__teacher-name {
            ::ng-deep {
              .zb-form-field__container {
                width: 80%;
              }
            }
          }
          &:first-child {
            .subject-list__status-check {
              margin-left: 42px;
              margin-right: 34px;
            }
          }
          &:last-child {
            padding-right: 53px;
          }
        }
        &:last-child {
          td {
            padding-bottom: 19px;
          }
        }
      }
    }
  }

  &__footer {
    border-bottom: $border;
    border-top: $border;
    padding: 16px 40px;
    text-align: right;
    button {
      margin-left: 16px;
    }
  }
}
