<zb-dialog>
  <zb-dialog-header>
    <p class="zb-h1">Crear grupos</p>
  </zb-dialog-header>
  <zb-dialog-body>
    <form [formGroup]="form">
      <div class="row">
        <zb-form-field class="col-12 col-md-6">
          <label for="groupsFormYearField" zbLabel>Año</label>
          <select id="groupsFormYearField" zbInput formControlName="year">
            <option *ngFor="let year of dialogData.years" [value]="year">{{ year }}</option>
          </select>
        </zb-form-field>
        <zb-form-field class="col-12 col-md-6">
          <label for="groupsFormPeriodField" zbLabel>Periodo</label>
          <select id="groupsFormPeriodField" zbInput formControlName="period">
            <option *ngFor="let period of dialogData.periods" [value]="period">{{ period }}</option>
          </select>
        </zb-form-field>
        <zb-form-field class="col-12 col-md-6">
          <label for="groupsFormProgramTypeField" zbLabel>Tipo de programa</label>
          <select id="groupsFormProgramTypeField" zbInput formControlName="programType">
            <option *ngFor="let programType of dialogData.programTypes" [value]="programType.id">{{ programType.name }}</option>
          </select>
        </zb-form-field>
        <zb-form-field class="col-12 col-md-6">
          <label for="groupsFormProgramField" zbLabel>Programa</label>
          <select id="groupsFormProgramField" zbInput formControlName="program">
            <option *ngFor="let program of dialogData.programs" [value]="program.id">{{ program.name }}</option>
          </select>
        </zb-form-field>
        <zb-form-field class="col-12 col-md-6">
          <label for="groupsFormCurriculumField" zbLabel>Plan de estudio</label>
          <select id="groupsFormCurriculumField" zbInput formControlName="curriculumId">
            <option *ngFor="let curriculum of dialogData.curriculums" [value]="curriculum.id">{{ curriculum.name }}</option>
          </select>
        </zb-form-field>
        <zb-form-field class="col-12 col-md-6">
          <label for="groupsFormLevelField" zbLabel>Nivel</label>
          <select id="groupsFormLevelField" zbInput formControlName="level">
            <option *ngFor="let level of dialogData.levels" [value]="level">{{ level }}</option>
          </select>
        </zb-form-field>
      </div>

      <!-- SECTION GROUPS BY TIME -->
      <div class="row" id="groupsByJournals">
        <span class="col-12 groups-journals__title">Grupos por jornada:</span>
        <div class="col-8" *ngFor="let group of form.groups?.forms; let i = index" formArrayName="groups">
          <div class="row" [formGroupName]="i">
            <div class="col-2 d-flex align-items-center">
              <b>{{ group.controls.name.value }}</b>
            </div>
            <zb-form-field class="col-5">
              <input id="groupsFormQuantityGroupsField{{ i }}" type="number" zbInput formControlName="quantityGroups">
            </zb-form-field>
            <zb-form-field class="col-5" [viewArrowsNumber]="true">
              <input id="groupsFormCapacityField{{ i }}" type="number" zbInput formControlName="capacity">
            </zb-form-field>
          </div>
        </div>
      </div>
    </form>
  </zb-dialog-body>
  <zb-dialog-footer class="justify-content-end">
    <button zbButton variant="outline" (click)="cancel()">Cancelar</button>
    <button zbButton (click)="create()">Crear</button>
  </zb-dialog-footer>
</zb-dialog>
